.DS_Store
.Rproj.user
.Rhistory
/.luarc.json
/manuscript.cls
/msystems.bst
/jabbrv.sty
/jabbrv-ltwa-all.ldf
/jabbrv-ltwa-en.ldf
/orcidlink.sty
/template.aux
/template.log
/template.tex
/template.html
/template_files/
/template.pdf

/.quarto/
